// Typography
$font-family-sans-serif: "Open Sans", sans-serif;
$font-size-base: .825rem;
$line-height-base: 1.375;

// Colors
$primary: #CC0000;
$secondary: #3B4CCA;
$muted: #8e8e93;

// Layout
$header-height: 52px; 

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";
